# IDE and editors
*~
.idea
nbproject
eclipse
.amateras
.settings
.classpath
.project
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

/modules
/tmp
/modules
/node_modules
/lib
/test-result
/logs
/precompiled
/project
/target
/.target
/server.pid
